{{ define "content" }}

<div class="container">
  <h1 class="title">{{ .PageTitle }}</h1>

  {{ range .Model.Media }}
  <img
    src="https://images.weserv.nl/?w=240&amp;h=240&amp;t=square&amp;a=entropy&amp;url={{ .URL }}"
  />
  {{ end }}

  <form
    method="post"
    action="/admin/composer"
    enctype="application/x-www-form-urlencoded"
  >
    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary is-fullwidth">
          Post
        </button>
      </div>
    </div>

    <textarea
      name="content"
      placeholder="Add a caption"
      class="textarea"
      autofocus
    ></textarea>
    <input type="hidden" name="h" value="entry" />

    <div class="field">
      <div class="control">
        <ul>
          {{ if .Model.HumanDate }}
          <li>
            {{ .Model.HumanDate }}
          </li>
          {{ end }}

          <li>
            <a href="/admin/composer/media" class="button is-fullwidth"
              >Add a photo</a
            >
          </li>

          <li>
            {{ if .Model.Location.Location }}
            <a href="/admin/composer/location" class="button is-fullwidth">
              {{ .Model.Location.Location }}
            </a>
            {{ else }}
            <a href="/admin/composer/location" class="button is-fullwidth">
              Add Location
            </a>
            {{ end }}
          </li>
        </ul>
      </div>
    </div>
  </form>
</div>

{{ with .Model.SuggestedLocations }} {{ range . }}
<form
  method="post"
  action="/admin/composer/location"
  enctype="application/x-www-form-urlencoded"
>
  <div class="field">
    <div class="control">
      <input type="hidden" name="lat" value="{{ .Lat }}" />
      <input type="hidden" name="lng" value="{{ .Lng }}" />
      <input type="hidden" name="locality" value="{{ .Locality }}" />
      <input type="hidden" name="region" value="{{ .Region }}" />
      <input type="hidden" name="country" value="{{ .Country }}" />
      <button type="submit" class="button">
        {{ .Location }}
      </button>
    </div>
  </div>
</form>
{{ end }} {{ end }} {{ end }}
