{{ define "content" }}

<div class="container">
  <div class="h-card">
    <div class="media">
      <div class="media-left">
        <img
          class="u-photo"
          src="https://j4y.co/profile_pic.jpeg"
          width="45px"
          height="45px"
        />
      </div>
      <div class="media-content">
        <ul>
          <li>
            <a class="p-name u-url u-uid" href="https://jay.funabashi.co.uk/"
              >Jay Funabashi</a
            >
          </li>
          <li>
            <a class="u-email" href="mailto:me@j4y.co" rel="me">Email</a>
          </li>
          <li>
            <a href="https://github.com/j4y-funabashi" rel="me">Github</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="columns">
    <!-- post list -->
    <div class="column">
      {{ range .PostList }}
      <div class="card">
        {{ with .Photo }} {{ range . }}
        <div class="card-image">
          <figure class="image">
            <img src="https://images.weserv.nl/?w=640&url={{ . }}" />
          </figure>
        </div>
        {{ end }} {{ end }}
        <div class="card-content">
          <div class="content">
            {{ with .Content }}
            <p class="is-marginless">{{ . }}</p>
            {{ end }} {{ with .Location }}
            <p class="is-marginless has-text-grey-light">{{ . }}</p>
            {{ end }}
            <time
              class="dt-published has-text-grey-light"
              datetime="{{ .Published }}"
            >
              {{ .Published }}
            </time>
          </div>
        </div>
      </div>
      {{ end }}
    </div>

    <!-- archive nav -->
    <div class="column"></div>
  </div>

  {{ with .AfterKey }}
  <div>
    <a class="button is-fullwidth" href="?after={{ . }}">Next Page</a>
  </div>
  {{ end }}
</div>

{{ end }}
