{{ define "content" }}
<div class="container">
  <section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">{{ .Model.CurrentDay.Name }}</h1>
        <h2 class="subtitle">
          {{ .Model.CurrentDay.Value }} / {{ .Model.CurrentDay.Total }}
          published
        </h2>
        <progress
          class="progress is-small"
          value="{{ .Model.CurrentDay.Value }}"
          max="{{ .Model.CurrentDay.Total }}"
          >{{.Model.CurrentDay.Value}} / {{.Model.CurrentDay.Total}}</progress
        >
      </div>
    </div>
  </section>

  {{ with .Model.Media }} {{ range . }}
  <div class="columns is-gapless is-mobile">
    {{ range . }}
    <div class="column is-one-third">
      <div class="card">
        <div class="card-image">
          <figure class="image is-square">
            {{ if .IsPublished }}
            <img
              src="https://images.weserv.nl/?w=240&amp;h=240&amp;t=square&amp;a=entropy&amp;url={{ .URL }}"
            />
            {{ else }}
            <a href="/admin/media/detail?url={{ .URL }}">
              <img
                src="https://images.weserv.nl/?w=240&amp;h=240&amp;t=square&amp;a=entropy&amp;url={{ .URL }}"
              />
            </a>
            {{ end }}
          </figure>
        </div>
        {{ if .IsPublished }}
        <div class="card-content is-overlay has-text-centered">
          <span class="tag is-success icon">
            <i class="fas fa-check-square"></i>
          </span>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>
  {{ end }} {{ end }}

  <!-- days -->
  {{ with .Model.Days }}
  <div class="box">
    <h4 class="title is-4">Days</h4>
    {{ range . }}
    <a href="{{.URL}}">{{.Name}}</a>
    <progress class="progress is-small" value="{{ .Value }}" max="{{ .Total }}">
      {{ .Value }} / {{ .Total }}
    </progress>
    {{ end }}
  </div>
  {{ end }}

  <!-- months -->
  {{ with .Model.Months }}
  <div class="box">
    <h4 class="title is-4">Months</h4>
    {{ range . }}
    <a href="{{.URL}}">{{.Name}}</a>
    <progress class="progress is-small" value="{{ .Value }}" max="{{ .Total }}">
      {{ .Value }} / {{ .Total }}
    </progress>
    {{ end }}
  </div>
  {{ end }}

  <!-- years -->
  {{ with .Model.Years }}
  <div class="box">
    <h4 class="title is-4">Years</h4>
    {{ range . }}
    <a href="{{.URL}}">{{.Name}}</a>
    <progress class="progress is-small" value="{{ .Value }}" max="{{ .Total }}">
      {{ .Value }} / {{ .Total }}
    </progress>
    {{ end }}
  </div>
  {{ end }}
</div>
{{ end }}
