{{ define "content" }}
<div class="container">
  <div class="card">
    <div class="card-image">
      <img src="https://images.weserv.nl/?w=840&url={{ .Model.Media.URL }}" />
    </div>

    <div class="card-content">
      {{ .Model.Media.DateTime }}
    </div>

    <div class="columns is-mobile is-gapless">
      <div class="column is-one-third">
        <form method="post" action="/admin/media/delete">
          <input
            type="hidden"
            name="media_url"
            value="{{ .Model.Media.URL }}"
          />
          <button class="button is-danger is-fullwidth">Delete</button>
        </form>
      </div>
      <div class="column is-two-thirds">
        <form method="post" action="/admin/composer/media">
          <input
            type="hidden"
            name="media_url"
            value="{{ .Model.Media.URL }}"
          />
          <button class="button is-link is-fullwidth">Add to post</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{ end }}
